body {
  margin: 0;
  font-family:'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--lightgray);
}

:root {
  --lightgray: rgb(244, 244, 244);
  --lightblue: rgb(212, 222, 255);
  --darkblue: rgb(36, 91, 180);
}

.font-darkblue {
  color: var(--darkblue);
}

.border-darkblue {
  border: 1px solid var(--darkblue);
}

.page-container{
  padding: 0 1.5em;
  max-width: 60em;
  margin: auto;
}

img{
  object-fit: cover;
  width: 100%;
}

.logo {
  height: 3em;
}

.font-bold{
  font-weight: 900;
}
.font-regular{
  font-weight: 500;
}

.font-light{
  font-weight: 200;
}

.border-radius-small{
  border-radius: 10px;
}

.border-radius-large{
  border-radius: 20px;
}

header{
  background-color: white;
  padding: 1em;
  align-items: center;
  border-bottom: 1px solid var(--darkblue);
  margin-bottom: 1.5em;
  
}
header > div{
  justify-content: space-between;
  margin: auto;
  display: flex;
  max-width: 60em;
}
button {
  padding: .6em;
  background-color: var(--lightgray);
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'roboto';
}

.flex{
  display: flex;
}
.gap-small{
  gap: .6em;
}
.gap-large{
  gap: 1.2em;
}

.event-preview-img{
  height: 12em;
  border-radius: 20px 20px 0 0;
}

.event-container > img {
  height: 30em;
}

.event-description{
  line-height: 1.6em;
}

.grid{
  display: grid;
}
.events-container{
  grid-template-columns: 1fr 1fr;
  
}
.events-container a {
  background-color: white;
  text-decoration: none;
}

.event-stats > div{
  background-color: var(--lightblue);
  width: min-content;
  text-wrap: nowrap;
  padding: 1em;
}

.event-details{
  padding: 0 1.2em;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4em 0;
}

footer img{
  height: 4em;
  object-fit: contain;
}